<div class="card">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive card-img-top" style="max-height: 500px;">
    <div class="card-body">
        <div class="row">
            <h4 class="card-title">{{ recipe.name }}</h4>
        </div>
        <div class="row">
            <p class="card-text">{{ recipe.description }}</p>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <h5>Ingredients</h5>
                <ol>
                    <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} - {{ ingredient.amount }}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-end" >
                <div class="btn-group" >
                    <button type="button" class="btn btn-primary dropdown-toggle"  role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                        Manage Recipe <span class="caret" ></span>
                    </button>
                    <ul class="dropdown-menu" >
                        <li class="dropdown-item" (click)="onAddToShoppingList()" style="cursor:pointer;">Add Ingredients to Shopping List
                        </li>
                        <li class="dropdown-item" style="cursor:pointer;" (click)="onEditRecipe()">Edit Recipe
                        </li>
                        <li class="dropdown-item" style="cursor:pointer;">Delete Recipe
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-xs-12">

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2></h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

    </div>
</div>