<div class="card">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive card-img-top">
    <div class="card-body">
        <div class="row">
            <h5 class="card-title">{{ recipe.name }}</h5>
        </div>
        <div class="row">
            <p class="card-text">{{ recipe.description }}</p>
        </div>
        <div class="row">
            <p>Ingredients</p>
        </div>
        <div class="row">
            <div class="d-flex justify-content-end" >
                <div class="btn-group" >
                    <button type="button" class="btn btn-primary dropdown-toggle"  role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                        Manage Recipe <span class="caret" ></span>
                    </button>
                    <ul class="dropdown-menu" >
                        <li class="dropdown-item">Add Ingredients to Shopping List
                        </li>
                        <li class="dropdown-item">Edit Recipe
                        </li>
                        <li class="dropdown-item">Delete Recipe
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="row">
    <div class="col-xs-12">

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2></h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

    </div>
</div>